@model IEnumerable<modelo.PronosticoClima>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pronostico Clima</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th, td {
            padding: 7px;
        }
    </style>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <div class="row">
            <h3>PRONOSTICO CLIMA</h3>
            <hr />
            <button type="button" class="btn btn-primary btn-sm" onclick="location.href='@Url.Action("Create", "Pronostico")';return false;">Crear Pronostico</button>
            <hr />
            <table class="table">
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Latitud)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Longitud)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Región)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Departamento)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Municipio)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fecha)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Temperatura)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Presion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Precipitacion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProbabilidadTormenta)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Humedad)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Pronostico)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cod_Div)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Latitud)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Longitud)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Región)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Departamento)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Municipio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fecha)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Temperatura)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Presion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Precipitacion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProbabilidadTormenta)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Humedad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Pronostico)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Cod_Div }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Cod_Div })
                        </td>
                    </tr>
                }

            </table>

            <div>
                <hr />
                <button type="button" class="btn btn-success btn-sm" onclick="location.href='@Url.Action("Login", "Account")';return false;">Regresar Login</button>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
